/.pytest_cache
__pycache__/
venv*/
.tox/
.idea/
poetry.lock
uv.lock
/log/*.log
.env
.venv
/__pycache__/

.coverage
.coverage.*
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.hypothesis/
.pytest_cache/
cover/
.agents
*.session
.claude/tasks
.claude/settings.local.json
.devcontainer
log/
