name: visitor-observer

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    container_name: visitor-observer
    env_file:
      - visitor_observer.env
    ports:
      - "5555:5555"
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - capabilities: [gpu]
